.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px  #eee !important;
    border-bottom-width: 1px;
    border-bottom-style:"";
    border-bottom-color: rgb(238, 238, 238);
    
    
}

    .navbar-inverse {
        background-color: darkslategray !important;
}
.container{
    background: #EDE;
   max-width: 1020px;
}